{{#each this}}
  <div class='quiz-content'>
    <h2 id='question'>{{question}}</h2>
    <ul>
      <li>
        <input type='radio' name='answer' id='a' class='answer' />
        <label for='a' id='a_text'>{{a}}</label>
      </li>

      <li>
        <input type='radio' name='answer' id='b' class='answer' />
        <label for='b' id='b_text'>{{b}}</label>
      </li>

      <li>
        <input type='radio' name='answer' id='c' class='answer' />
        <label for='c' id='c_text'>{{c}}</label>
      </li>

      <li>
        <input type='radio' name='answer' id='d' class='answer' />
        <label for='d' id='d_text'>{{d}}</label>
      </li>
    </ul>
  </div>
{{/each}}